From phil@firehol.org Mon Sep 17 00:00:00 2001
From: Phil Whineray <phil@firehol.org>
To: FireHOL Support <firehol-support@lists.firehol.org>
Subject: [ANNOUNCE] FireHOL x.y.z released

All

I have released version x.y.z of FireHOL.

As usual, you can get it from the website:
  http://firehol.org/download/releases/vx.y.x/

Major changes:

Major notes...

Minor:

Thanks in particular...

Regards
Phil
