From phil@firehol.org Mon Sep 17 00:00:00 2001
From: Phil Whineray <phil@firehol.org>
To: FireHOL Support <firehol-support@lists.firehol.org>
Subject: [ANNOUNCE] FireHOL x.y.z released

All

I have released version x.y.z of FireHOL.

You can download it from GitHub:
  https://github.com/firehol/firehol/releases/tag/vx.y.z

Major changes:

...

Minor:

...

Thanks in particular:

...

Regards
Phil
